html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Navbar{
  width: 100%;
  padding: 30px;
  background-color: #81ecec;
  display: flex;
  justify-content: space-between;
}
.Layout{
  width: 70%;
  margin: auto;
}